<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user %>!</h1>
    <p>
      <%= @hidden_user %> is interested in you.<br/>
      <%= link_to "Click here", @url %> to view <%= @hidden_user %>'s profile.
    </p>
    <p>Thanks for everything and have a great day!</p>
  </body>
</html>